:root {
  --linear-grad: linear-gradient(to right, #141E30, #243B55);
  --grad-clr1: #141E30;
  --grad-clr2: #243B55;
}

/* Add your global styles here if needed */

.RegistrationScreenP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a5b6ab;
  /* background-image: url(./OwnerRegistration.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.ownerContainer {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* Adjust the blur value as needed */
  background-color: rgba(231, 236, 238, 0.856);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(2, 4, 26, 0.37);
  /* Background color with transparency */
}

.ownerFormContainer {
  flex: 1;
  padding: 0.7rem;
}

.ownerForm {
  display: flex;
  flex-direction: column;

}

.ownerContent {
  max-height: 400px;
  overflow-y: auto;

}

.ownerHead {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.ownerPair {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  margin-left: 10px;
}

.ownerInfield {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 0.7rem;
}

.ownerParagraph {
  font-weight: normal;
  font-size: 14px;
  padding-left: 5px;
  margin-bottom: 0.2rem;
}

.ownerInput {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ownerError {
  color: red;
  font-size: 0.8rem;
}

.permitButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.printOwnerButton,
.permitOwnerButton,
.notpermitOwnerButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.printOwnerButton {
  background-color: navy;
  color: #fff;
  padding: 20px 50px;
  margin-top: 10px;
  font-size: 15px;
}

.permitOwnerButton {
  background-color: #4caf50;
  color: #fff;
  padding: 20px 50px;
  margin-top: 10px;
  font-size: 15px;
}

.notpermitOwnerButton {
  background-color: #f44336;
  color: #fff;
  padding: 20px 50px;
  margin-top: 10px;
  font-size: 15px;
}

/* Additional styles can be added here */

@media (min-width: 1400px) {

  .ownerContainer {

    width: 900px;
    height: 84vh;


  }

  .ownerOverlayPanel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 410px;
    transition: 0.6s ease-in-out;

  }


  .ownerOverlayContainer {
    position: relative;
    top: 0;
    left: 55%;
    width: 45%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
  }

  .ownerOverlayContainer h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  .ownerOverlay {
    position: relative;
    background: transparent;
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;

  }

}