@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.DriverMenu , .OwnerMenu, .ManagerMenu, .AutorickshawMenu{
    background-color: #c7c0c088;
    padding: 16px;
    width: 300px;
    height: 100%;
}

.DriverMenuItem , .OwnerMenuItem, .ManagerMenuItem, .AutorickshawMenuItem{
    display: flex;
    align-items: center;
    padding: 15px 0px 5px 15px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

}

.DriverMenuItem .icon, .OwnerMenuItem .icon, .ManagerMenuItem .icon, .AutorickshawMenuItem .icon{

    font-size: 20px;

}
.DriverMenuItem:hover, .OwnerMenuItem:hover, .ManagerMenuItem:hover, .AutorickshawMenuItem:hover{
    background-color: #c2bfbf;
    padding: 15px;
}


.CustomLabel {
    margin-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;

}

.unauthorized1{
    
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: .01cm;
    margin-top: 0px;
    margin-bottom: 0px;

}

.unauthorized{
    
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: .01cm;
    margin-top: 20px;
    margin-bottom: 0px;

}

.unauthorized .icons {

    font-size: 17px;
    padding-right: 5px;

}
.unauthorized1 .icons {

    font-size: 17px;
    padding-right: 5px;

}