:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #243B55;
}

.RegistrationScreen {
    height: 100vh;
    background: #a5b6ab;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
} 

.ownerContainer {
    position: relative;
    width: 850px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}

.ownerFormContainer {
    position: absolute;
    width: 56%;
    height: 145%;
    padding: 0px 35px;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}




.ownerSignInContainer {
    z-index: 2;
    
}

.ownerForm {
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
    
}

.ownerForm h1{
    margin-top: 3px;
    padding-top: 2px;
    padding-bottom: 10px;
    color: #000;
    font-size: 25px;
}


.ownerError {
    font-size: 8px;
}

.ownerInfield {
    position: relative;
    margin: 6px 0px;
    width: 100%;
    color: #888787;
}
.ownerInfield input{
    border: none;
}

.ownerInput {
    width: 100%;
    padding: 8px 6px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    font-size: 12px;
    padding-bottom: 5px;
}


.ownerInput[type="date"]::-webkit-calendar-picker-indicator {
    color: #a5a3a3;
}
.ownerSelect {
    width: 100%;
    padding: 10px 6px;
    padding-bottom: 5px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    color: grey;
    font-size: 12px;
}
.ownerSelect:focus{
    color: black;
}
.ownerSelect:focus~label{
    width: 100%;
    color: black;
}

.ownerInput:focus~label {
    width: 100%;
    color: black;
}


a.forgot {
    padding-bottom: 3px;
    border-bottom: 2px solid #eee;
}

.ownerButton {
    border-radius: 5px;
    background: rgb(94, 146, 17);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 4px;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}

.ownerFormContainer .ownerButton {
    margin-top: 17px;
    transition: 80ms ease-in;
}

.ownerFormContainer .ownerButton:hover {
    background: var(--grad-clr2);
    color: white;
    cursor: pointer;
}

.ownerOverlayContainer {
    position: relative;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

.ownerOverlay {
    position: relative;
    background: transparent;
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;

}
.ownerHead {
    color: var(--grad-clr1);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ownerFormImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../OwnerRegistration/OwnerRegistration.jpg');
    background-size: cover;
    z-index: -1;   
    overflow: hidden; 
}

.ownerOverlayPanel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.ownerOverlayRight {
    right: 0;
    transform: translateX(0%);
}



.ownerInfield .ownerError {

    color: rgba(255, 0, 0, 0.781);
    font-size: 10px;
    padding-left: 3px;

}





@media (min-width: 1600px) {

    .ownerContainer {

        width: 900px;
        height: 90vh;


    }

    .ownerOverlayPanel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 40px;
        text-align: center;
        height: 100%;
        width: 500px;
        transition: 0.6s ease-in-out;

    }


    .ownerOverlayContainer {
        position: relative;
        top: 0;
        left: 55%;
        width: 45%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 9;
    }

    .ownerOverlayContainer h1 {
        font-size: 2rem;
        font-weight: 800;
        color: white;
    }

    .ownerOverlay {
        position: relative;
        background: transparent;
        color: #fff;
        left: -150%;
        height: 100%;
        width: 250%;
        transition: transform 0.6s ease-in-out;

    }

   

    .ownerParagraph {
        font-size: 15px;
        margin-bottom: -2px;
        margin-top: 2px;
        padding-bottom: 12px;
        padding-top: 5px;
    }

    .ownerInfield Input{
        font-size: 14px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: none;
     }

     .ownerOverlayContainer h1 {
        font-size: 2rem;
        font-weight: 800;
    }
    .ownerError {
        font-size: 14px;
    }

}